.top {
            background-color: orange;
            margin-top: 0px;
            padding: 10px;
        } 
        .list{
            background-color: rgb(0, 0, 0);
            display: flex;
            color: white;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           
        }
        .list a:link{
            color: white;
            background-color: transparent;
        }
       .list a:visited{
            color: white;
            background-color: transparent;
        }

        nav{
            display: flex;
            padding: 30px;
            background-color: aquamarine;
        }
        .rj{
            color: green;
            font-size: larger;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .navBar a{
            
            padding:30px ;
            text-decoration: none;
        }
        .navBar a:link,a:visited{
            color: black;
             background-color: transparent;
        }
        .navBar a:hover{
            background-color: white;
            color: red;
        }
        main{
            height: 500px;
            width: 100%;
            background-size: cover;
            animation:rj 20s infinite;
            background-image: url("../assets/img1.jpg");
            color: black;
        }
        @keyframes rj {
            20%{
                background-image:url("../assets/img7.jpg");
            }
            40%{
                background-image:url("../assets/img6.jpg");
            }
            60%{
                background-image: url("../assets/image3.jpg");
            }
            80%{
                background-image: url("../assets/img5.jpg");
            }
            100%{
                background-image: url("../assets/img2.jpg");
            }
        }
        .inside{
            padding: 50px;
            position: absolute;
            left: 100px;
            top: 200px;
            color:black;
        }
         .child{
            display: none;
        } 
        .child .c1:active,.c2:active{
            background-color: purple;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .child a{
            background-color: orangered;
            padding: 5px;
        }
        .parent:hover .child{
            display: block;
            position: absolute;
        }
        .form1{
            display: none;
            position: absolute;
            top: 200px;
            right: 40px;
            text-align: center;
            padding: 30px;
            
        }
        .enq:hover .form1{
            display: block;
        }
        .form2{
            display: none;
            padding: 30px;
            text-align: center;
            background-color: white;
            position: absolute;
            left: 250px;
            top: 20px;
        }
        .apply:hover .form2{
            display: block;
        }
        .Expert{
            background-color: aqua;
           text-align: center;
            margin-left: 20px;
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .overview{
            display: flex;
        }
        .overview .Expert:hover{
             box-shadow: 10px 10px 15px grey;
             background-color: white;
        }
        .Well{
            background-color: aqua;
           text-align: center;
            margin-left: 20px;
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .overview .Well:hover{
             box-shadow: 10px 10px 15px grey;
             background-color: white;
        }
        .Quality{
            background-color: aqua;
            text-align: center;
            margin-left: 20px;
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .overview .Quality:hover{
             box-shadow: 10px 10px 15px grey;
             background-color: white;
        }
        .Access{
            background-color: aqua;
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            padding: 30px;
            border-radius: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .overview .Access:hover{
             box-shadow: 10px 10px 15px grey;
             background-color: white;
        }
        .Courses{
            display: grid;
            grid-template-columns: auto auto auto;
            margin-bottom: 30px;
        }
        .full{
            
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;
        }
        .full h4{
            background-color: green;
            padding: 10px;
        }
         .front{
            background-color: rgb(253, 253, 253);
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;

        }
        .front h4{
            background-color: green;
            padding: 10px;
        }
         .back{
            background-color: rgb(253, 253, 253);
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;
        }
        .back h4{
            background-color: green;
            padding: 10px;
        }
         .data{
            background-color: rgb(253, 253, 253);
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;
        }
        .data h4{
            background-color: green;
            padding: 10px;
            
        }
         .aws{
            background-color: rgb(253, 253, 253);
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;
        }
        .aws h4{
            background-color: green;
            padding: 10px;
        }
         .dev{
            background-color: rgb(253, 253, 253);
            padding-bottom: 20px;
            text-align: center;
            margin: 30px;
            box-shadow: 5px 10px 10px skyblue;
        }
        .dev h4{
            background-color: green;
            padding: 10px;
        }
        footer{
            display: grid;
            grid-template-columns: 25% 25% 25% 25% ;
            padding: 20;
            background-color: aquamarine;
        }
        footer .foot1{
            padding-right:80px;
        }
        footer .foot2{
            padding-right:100px;
            padding-inline: 30px;
        }
        footer .foot3{
            padding-right: 40px;
        }
        footer .foot4{
            padding-right: 20px;
        }
        footer .foot4 a{
            padding-right: 20px;
        }
        